@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #03a9f4; */
  background: transparent;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  /* filter: invert(2); */
  color: #fff;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}


/* modal */

#darkBack {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
}

#timeDiv {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  max-width: 325px;
  background: #fff;
  width: 85%;
  margin: 0 auto;
  top: 50%;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 16px -8px #adadad;
  -moz-box-shadow: 0 8px 16px -8px #adadad;
  box-shadow: 0 8px 16px -8px #adadad;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
}

.open {
  color: #27ae60;
  border: 2px solid #27ae60;
}

.closed {
  color: rgba(231, 76, 60, 0.85);
  border: 2px solid rgba(231, 76, 60, 0.8);
}

.viewOpen {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.viewOpen i {
  color: rgba(70, 70, 70, 0.8);
}

@media all and (max-width: 600px) {
  #timeDiv {
    margin-bottom: 20px;
  }
}

@media all and (min-width: 601px) {
  #timeDiv {
    margin-right: 15px;
  }
}

.dateTime {
  max-width: 320px;
  margin: 0 auto;
}

.day {
  display: inline-block;
  float: left;
}

.time {
  display: inline-block;
  float: right
}

.today {
  color: rgb(200, 85, 39);
  font-weight: 600;
}

@media all and (max-height: 420px) {
  #timeDiv, .viewOpen {
    top: 60%;
  }
}
/* view hours modal */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 173, 173, 0.5);
  display: none;
}

#modal-state {
  display: none;
}

#modal-state:checked + .modal-overlay {
  opacity: 1;
  animation: fade-in .4s;
  display: block;
}

.modal {
  position: absolute;
  margin: 0 auto;
  padding: 30px 25px;
  background: #fff;
  right: 0;
  left: 0;
  text-align: center;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  line-height: 1.8;
}



.modal h2 {
  margin-top: 0;
  line-height: 25px;
  font-size: 22px;
  color: rgb(39, 39, 39);
  border-bottom: 1px solid #dce0d8;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

.modal p {
  font-size: 1em;
  color: rgb(39, 39, 39);
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
@media all and (max-width: 470px) {
  .modal {
    width: 75%;
  }
  .modal h2{
    font-size: 20px;
  }
}

#modal-state:checked + .modal-overlay .modal {
  top: 20%;
}

.modal-overlay-close {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.button-close {
  text-decoration: none;
  position: absolute;
  color: #fff;
  background: #464646;
  padding: 0px 7px;
  font-weight: bold;
  top: 0px;
  right: 0;
  cursor: pointer
}

/* form */
form {
  display: flex;
  flex-wrap: wrap
}

form > input {
    flex: 1 1 10ch;
    margin: .5rem
  }

form > input[type="email"] {
      flex: 3 1 30ch;
    }

input {
  border: none;
  background: hsl(0, 0%, 93%);
  /* border-radius: .25rem; */
  padding: .75rem 1rem
}

input[type="submit"] {
    background: rgb(87, 10, 87);
    color: white;
  }


  /* button */
