@font-face {
	font-family: "Nolan";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/312465/Nolan-Regular.ttf") format("truetype");
  }
  *, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	padding: 20px;
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #edeff0;
	font-family: "Nolan", sans-serif;
  }
  
  .logo {
	top: 70px;
	width: 100px;
	margin-top: -50px;
	position: relative;
	animation-name: dips;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
  }
  
  .copyright {
	font-size: 16px;
	margin-top: 10px;
	color: #78909C;
  }

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css);
* { margin: 0px; padding: 0px; }

/**Icon Hover Effect 4**/
.hover-effect4 { min-height: 100px; background: #edeff0; text-align: center; }
.hover-effect4 ul { padding-top: 50px; }
.hover-effect4 ul li { display: inline-block; }
.hover-effect4 ul li a { font-size: 40px; color: #fff; margin: 0px 10px; line-height: 100px; display: inline-block; width: 90px; height: 90px; background: #1b1f1e; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
.hover-effect4 ul li:hover a { background: #141a19; -moz-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }